table, td, tr, body {
	font-size: 11px;
	font-family: Helvetica, Arial, Verdana;
}

table tr.odd {
	background:#eee
}

table tr.win {
	background:#6c6
}

table tr.draw {
	background:#f93
}

table tr.lose {
	background:#c24
}

th {
	text-align:left;
	padding: 0 15px 0 0;
}

td {
	font: 10px Verdana;
	padding: 0 10px 0 0;
	line-height: 20px;
	border-bottom: #ddd;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
}

a:link {
	color: olive;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: gray;
	text-decoration: none;
}

#resultstats {
	float:left;
	margin-right: 3em;
}

#opponents {
	float: left;
	margin-right: 3em;
}

#topwins {
	float: left;
	margin-right: 3em;
}

#timecontrol {
	float: left;
	margin-right: 3em;
}

#gamelist {
    margin-top: 3em;
}
