{% extends "base.html" %}

{% block extraheaders %}
<title>{{ player }}'s chess stats on freechess.org</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/elohist.js"></script>
{% endblock %}

{% block heading %}
<h2>{{ player }}'s chess stats on <a href="http://freechess.org">freechess.org</a></h2>
<h4>playing on average {{ stats.perday|floatformat }} games/day since recording began on {{ stats.firstdate|date:"d M Y" }}</h4>
{% endblock %}

{% block content %}
<div id="highchart" style="width: 100%; height: 400px"></div>
{% endblock %}

