<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <style type="text/css">
    /*<![CDATA[*/
    {% block customcss %}
    {% endblock %}
    /*]]>*/
    </style>

    {% block extraheaders %}
    {% endblock %}

</head>

<body>

{% block content %}
{% endblock %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
<link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% block beforebodyend %}
{% endblock %}

{% if not debug %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-37303356-5', 'captnswing.net');
ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
