{% extends "base.html" %}

{% block customcss %}
    body {
    padding-top: 40px; /* When using the navbar-top-fixed */
    }
    td.rightalign {
    text-align: right;
    }
{% endblock %}

{% block beforebodyend %}
    <title>flot.js test</title>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}/jquery.flot.stack.js"></script>
    <script>
        $(document).ready(function () {
{#            $.getJSON('{% url api-elohist %}', function (elodata) {#}
{#                $.plot($("#elohistimg"), [elodata.data], {#}
{#                    xaxis: {#}
{#                        mode: "time"#}
{#                    }#}
{#                });#}
{#            });#}

            $.getJSON('{% url api-monthlyresult %}', function (monthdata) {
                $.plot($("#monthlyresult"), [monthdata[2], monthdata[1], monthdata[0]], {
                    series: {
                        stack: true,
                        bars: {
                            show: true,
                            barWidth: 0.8,
                            align: 'center',
                            lineWidth: 0
                        }
                    },
                    xaxis: {
                        ticks: monthdata[3]
                    }
                });
            });

{#            $.getJSON('{% url api-opponentselo %}', function (opdata) {#}
{#                $.plot($("#opponentselo"), [opdata.data], {#}
{#                    bars: {#}
{#                        show: true,#}
{#                        barWidth: 32,#}
{#                        align: 'center'#}
{#                    }#}
{#                });#}
{#            });#}

        });
    </script>
{% endblock %}

{% block content %}
    <div style="width:400px;height:400px" id="monthlyresult"></div>
    <div style="width:400px;height:400px" id="opponentselo"></div>
    <div style="width:900px;height:420px" id="elohistimg"></div>
{% endblock %}

{% block beforebodyend %}
{% include "flot_headers.html" %}
{% endblock %}
