{% extends "base.html" %}

{% block customcss %}
    body {
    padding-top: 40px; /* When using the navbar-top-fixed */
    }
    td.rightalign {
    text-align: right;
    }
{% endblock %}

{% block extraheaders %}
    <title>{{ player }}'s chess stats on freechess.org</title>
{% endblock %}

{% block beforebodyend %}
    <script type="text/javascript" src="{{ STATIC_URL }}/jquery.flot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/jquery.flot.stack.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON('{% url "api-elohist" %}', function (elodata) {
                $.plot($("#elohistimg"), [elodata.data], {
                    xaxis: {
                        mode: "time"
                    }
                });
            });

            $.getJSON('{% url "api-monthlyresult" %}', function (monthdata) {
                $.plot($("#monthlyresult"), [monthdata[2], monthdata[1], monthdata[0]], {
                    series: {
                        stack: true,
                        bars: {
                            show: true,
                            lineWidth: 0.5,
                            barWidth: 0.8,
                            align: 'center'
                        }
                    },
                    xaxis: {
                        ticks: monthdata[3]
                    }
                });
            });

            $.getJSON('{% url "api-opponentselo" %}', function (opdata) {
                $.plot($("#opponentselo"), [opdata.data], {
                    bars: {
                        show: true,
                        barWidth: 32,
                        align: 'center'
                    }
                });
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">{{ player }}'s chess stats</a>
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#elotrend">stats & elotrend</a></li>
                    <li><a data-toggle="tab" href="#opponents">opponents{% if won_tally or lost_tally %} &
                        results{% endif %}</a></li>
                    <li><a data-toggle="tab" href="#history">last 100 games</a></li>
                </ul>
                <ul class="nav pull-right hidden-phone">
                    <li>
                        <span><a class="btn btn-primary"
                              href="https://bitbucket.org/captnswing/freechess">code@bitbucket</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

    <div class="tab-pane active" id="elotrend">
        <div class="container">

            {#            <p>playing on average {{ stats.perday|floatformat }} games/day since recording began#}
            {#                on {{ stats.firstdate|date:"d M Y" }}</p>#}

            <div class="row">
                <div class="span6">
                    <h3>elotrend {{ stats.startdate|date:"M Y" }} - {{ stats.enddate|date:"M Y" }}</h3>

                    <div style="width:600px;height:420px" id="elohistimg"></div>
                </div>

                <div class="span4 offset1">
                    <h3>monthly performance</h3>

                    <div style="width:400px;height:420px" id="monthlyresult"></div>
                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <h3>current elo: {{ stats.currentelo }}</h3>
                    <table id="summary" class="table table-condensed table-bordered">
                        <tbody>
                        <tr>
                            <td>alltime high
                            <td class="rightalign">{{ stats.alltime_maxelo }}</td>
                            <td class="rightalign">{{ stats.alltime_maxelo_date|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td>alltime low
                            <td class="rightalign">{{ stats.alltime_minelo }}</td>
                            <td class="rightalign">{{ stats.alltime_minelo_date|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td>3months high
                            <td class="rightalign">{{ stats.three_months_maxelo }}</td>
                            <td class="rightalign">{{ stats.three_months_maxelo_date|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td>3months low
                            <td class="rightalign">{{ stats.three_months_minelo }}</td>
                            <td class="rightalign">{{ stats.three_months_minelo_date|date:"Y-m-d" }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="lostwon" class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="rightalign"><strong>as white</strong></th>
                            <th class="rightalign"><strong>as black</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>won</strong></td>
                            <td class="rightalign">{{ stats.won_as_white }}</td>
                            <td class="rightalign">{{ stats.won_as_black }}</td>
                        </tr>
                        <tr>
                            <td><strong>drawn</strong></td>
                            <td class="rightalign">{{ stats.drawn_as_white }}</td>
                            <td class="rightalign">{{ stats.drawn_as_black }}</td>
                        </tr>
                        <tr>
                            <td><strong>lost</strong></td>
                            <td class="rightalign">{{ stats.lost_as_white }}</td>
                            <td class="rightalign">{{ stats.lost_as_black }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="span5 offset1">
                    {% if won_tally or lost_tally %}
                        <h3>result distribution</h3>
                        <table id="resulttally" class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th>result</th>
                                <th class="rightalign">freq.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- tally of won games -->
                            {% for result in won_tally %}
                                <tr class="success">
                                    <td>{{ result.0 }}</td>
                                    <td class="rightalign">{{ result.1 }}</td>
                                </tr>
                            {% endfor %}

                            <!-- tally of drawn games -->
                            {% for result in drawn_tally %}
                                <tr class="warning">
                                    <td>{{ result.0 }}</td>
                                    <td class="rightalign">{{ result.1 }}</td>
                                </tr>
                            {% endfor %}

                            <!-- tally of lost games -->
                            {% for result in lost_tally %}
                                <tr class="error">
                                    <td>{{ result.0 }}</td>
                                    <td class="rightalign">{{ result.1 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="opponents">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h3>most played opponents</h3>
                    <table id="mostplayed" class="table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>player</th>
                            <th class="rightalign">won</th>
                            <th class="rightalign">draw</th>
                            <th class="rightalign">lost</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for opponent in most_frequent_opponents %}
                            <tr>
                                <td>{{ opponent.1 }}</td>
                                <td class="rightalign">{{ opponent.0.1 }}</td>
                                <td class="rightalign">{{ opponent.0.2 }}</td>
                                <td class="rightalign">{{ opponent.0.3 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="span4 offset1">
                    <h3>top defeated opponents</h3>
                    <table id="topdefeated" class="table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>elo</th>
                            <th>player</th>
                            <th>date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for opponent in strongest_opponents_won %}
                            <tr>
                                <td>{{ opponent.0 }}</td>
                                <td>{{ opponent.1 }}</td>
                                <td class="rightalign">{{ opponent.2|date:"M Y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <h3>Oppontents strength</h3>
                    <table id="summaryopponents" class="table table-condensed table-bordered">
                        <tbody>
                        <tr>
                            <td>average opponent strength (last 3 months)</td>
                            <td class="rightalign">{{ stats.opponentaverage|floatformat }}</td>
                        </tr>
                        <tr>
                            <td>games played against stronger opponents</td>
                            <td class="rightalign">{{ stats.stronger|floatformat }}%</td>
                        </tr>
                        <tr>
                            <td>games played against weaker opponents</td>
                            <td class="rightalign">{{ stats.weaker|floatformat }}%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="span4 offset1">
                    <h3>opponentselo</h3>

                    <div style="width:400px;height:380px" id="opponentselo"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="history">
        <div class="container">
            <h3>last 100 games (of {{ stats.total }} in total)</h3>
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>date</th>
                    <th>white</th>
                    <th>black</th>
                    <th>w_elo</th>
                    <th>b_elo</th>
                    <th>timecontrol</th>
                    <th>result</th>
                    {% if won_tally or lost_tally %}
                        <th>comment</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for game in last100games %}
                    <tr>
                        <td>{{ game.game_nr }}</td>
                        <td>{{ game.date|date:"Y-m-d" }}</td>
                        <td>{% if game.self_white %}{{ player }}{% else %}{{ game.opponent_name }}{% endif %}</td>
                        <td>{% if game.self_white %}{{ game.opponent_name }}{% else %}{{ player }}{% endif %}</td>
                        <td>{% if game.self_white %}{{ game.self_elo }}{% else %}{{ game.opponent_elo }}{% endif %}</td>
                        <td>{% if game.self_white %}{{ game.opponent_elo }}{% else %}{{ game.self_elo }}{% endif %}</td>
                        <td>{{ game.timecontrol }}</td>
                        <td>{{ game.result }}</td>
                        {% if won_tally or lost_tally %}
                            <td>{{ game.comment }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>
{% endblock %}
